/data
/builds
JewFuss-XT.exe.spec
bot-tokens.txt
JewFuss-XT.spec
tests/JustTTS.spec
JustTTS.spec
/tests/build
/tests/dist
/tests/data
/tests/builds
/tests/JustTTS.spec
/JewFuss-XT-Updater/build
/JewFuss-XT-Updater/dist
/JewFuss-XT-Updater/data
/JewFuss-XT-Updater/builds
/JewFuss-XT-Updater/JustTTS.spec
Updater.exe.spec