/data
/builds
/build
/dist
JewFuss-XT.exe.spec
bot-tokens.txt
JewFuss-XT.spec
/archive/tests/JustTTS.spec
JustTTS.spec
/archive/tests/build
/archive/tests/dist
/archive/tests/data
/archive/tests/builds
/archive/tests/JustTTS.spec
/archive/JewFuss-XT-Updater/build
/archive/JewFuss-XT-Updater/dist
/archive/JewFuss-XT-Updater/data
/archive/JewFuss-XT-Updater/builds
/archive/JewFuss-XT-Updater/JustTTS.spec
/__pycache__
Updater.exe.spec
installer.spec
executablename.txt
test.py
*.spec
*.log
/exebundler/data
/exebundler/builds
.vscode/